// form{align-content: center;
// text-align: center;
// background-color: rgba(10, 100, 128, 0.30);}
h1{text-align: center;
color:blue ;
margin-top: 5px;
}
h2{align-items: center;
margin-left: 40%;}



