
<footer class="bd-footer ">
    <div class="container">
      <ul class="bd-footer">
        <li class="d-inline-block"><a href="https://github.com/twbs">GitHub</a></li>
        <li class="d-inline-block ms-3"><a href="https://twitter.com/getbootstrap">Twitter</a></li>
        <li class="d-inline-block"><a href="https://github.com/twbs">Facebook</a></li>
        <li class="d-inline-block"><a href="https://github.com/twbs">Twitter</a></li>
        
      </ul>
      <p class="mb-0">@Copyrights reserved by Mindfire</p>
      </div>
  </footer>

